@import '../../styles/palette.scss';
.header__welcome {
  width: 100%;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(0deg, #e2efff, #fcfdff 0%);
}

.header__buttons {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 410px) {
    gap: 5px;
  }
}

.header__btn {
  display: block;
  font-size: 1.2rem;
  background: linear-gradient(0deg, #e2efff, #fcfdff 0%);
  color: $dark;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 3px 1px #ccc;
  border: none;
  transition: background-color 150ms;
  padding: 0 15px;

  &:hover {
    background: linear-gradient(0deg, #2d8bff12 100%, #d1d3d6 24%);
  }

  &:active {
    box-shadow: 1px 1px 5px 1px #ccc;
  }

  @media screen and (max-width: 410px) {
    font-size: 0.87rem;
    padding: 0 10px;
  }
}
