@import "../../styles/palette.scss";
.header__welcome {
  width: 100%;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__buttons {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 410px) {
    gap: 5px;
  }
}

.header__btn {
  display: block;
  font-size: 1.2rem;
  line-height: 35px;
  background-color: transparent;
  color: $dark-text;
  border-radius: 50px;
  border: none;
  transition: background-color 150ms;
  padding: 0 15px;

  &:hover {
    background-color: #62ad9b;
    color: #fff;
  }

  &:active {
    box-shadow: 1px 1px 5px 1px #ccc;
  }

  @media screen and (max-width: 410px) {
    font-size: 0.87rem;
    padding: 0 10px;
  }
}
