@import '../../styles/palette.scss';

.board {
  flex: 1 0 auto;
  padding: 20px;

  &__title {
    font-size: 2.5rem;
    margin: 5px auto;
    text-align: center;
  }
  .wrapper {
    display: flex;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    background: $primary-blue;
    gap: 10px;
  }
}

