@import "../../styles/palette.scss";

.board {
  flex: 1 0 auto;
  padding: 5px;

  &__title {
    font-size: 2.2rem;
    margin: 3px auto;
    text-align: center;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    border-radius: 10px;
    overflow-x: auto;
  }

  &__btn {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: $active-gray;
    color: $light-gray;
    border-radius: 0.2rem;
    line-height: 35px;
    border: none;
    transition: background-color 150ms;
    text-align: left;
    margin-left: 20px;
    padding: 0 10px;

    &:hover {
      background-color: $dark-blue;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: $light-gray;
    height: 100%;
    border-radius: 0.4rem;
    margin-right: 1.5rem;
    position: relative;
    opacity: 1;
  }
}
