@import "../../styles/palette.scss";
@import "../../styles/buttons";

.board {
  flex: 1 0 auto;
  padding: 5px;

  &__title {
    font-size: 2.2rem;
    margin: 3% auto;
    text-align: left;
    margin-top: 3%;
    margin-left: 1%;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    padding: 2%;
    border-radius: 10px;
  }

  &__btn {
    @include transparent-btn;
    width: 270px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 500px;
    background-color: $light-gray;
    height: 100%;
    border-radius: 0.4rem;
    margin-right: 1.5rem;
    position: relative;
    opacity: 1;
  }
}
