@import "../../styles/palette.scss";
@import "../../styles/buttons";

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
  color: $primary;

  &__boards {
    @include transparent-btn;
    text-decoration: none;
    height: 40px;
  }

  &__templates.btn {
    @include transparent-btn;
    position: relative;
    padding-right: 25px;

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      right: 2px;
      width: 24px;
      height: 24px;
      background-image: url("../../assets/icons/arrow-bottom.svg");
      background-repeat: no-repeat;
    }
  }
}

.template {
  position: relative;

  &__form {
    position: absolute;
    padding: 20px 0;
    width: 250px;
    border-radius: 10px;
    border: 1px solid $border-gray;
    background-color: $light-gray;
    font-size: 1.2rem;
    color: $dark-text;
    top: 50px;
    left: 0;
    z-index: 10;
  }

  &__title {
    padding: 0 20px;
    color: $gray-text;
  }

  &__radios {
    display: block;

    & input:checked + span {
      background-color: $border-gray;
    }
  }

  &__text {
    display: block;
    padding: 0 20px;
    color: $blue;
    font-size: 18px;
  }

  &__input {
    &[type="radio"] {
      display: none;
    }
  }

  &__wrapper {
    padding: 0 20px;
    position: relative;
  }

  &__label {
    color: $gray-text;
  }

  &__submit.btn {
    @include main-btn;
    background-color: $blue-btn;
    color: $dark-text;
    line-height: 35px;
    width: 100%;
    border-radius: 10px;

    &:hover {
      box-shadow: none;
      border: 1px solid $blue-btn;
      background-color: $light-gray;
    }
  }
}
