@import "../../styles/palette.scss";

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
  color: $primary;

  &__boards,
  &__templates {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: $blue;
    transition: 0.5s;

    &:hover {
      background-color: $dark-text;
    }
  }
}
