@import "../../styles/palette.scss";

.aside-container {
  flex: 0 0 auto;
}

.aside {
  height: 100%;
  position: relative;
  width: 200px;
  padding: 10px 0;
  background: $light-gray;
  border-right: 1px solid $border-gray;
  overflow: hidden;
  transition: 0.3s;

  &__container {
    position: absolute;
    right: 0;
    width: 200px;
    font-size: 1.5rem;
    color: $gray-text;
  }

  &__close {
    background: transparent;
    border: none;
    background-image: url("../../assets/icons/arrow-left.svg");
    padding: 0;
    width: 30px;
    height: 30px;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5;
    z-index: 1;

    &:hover {
      filter: opacity(0.5);
    }
  }

  &__settings > a {
    color: inherit;
  }

  &__nav {
    color: inherit;
  }

  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
    max-width: 180px;
    color: inherit;
  }

  &__name {
    margin: 0 auto;
    font-size: 1.1rem;
    width: fit-content;
  }

  &__email {
    margin: 0 auto;
    font-size: 0.8rem;
  }

  &__avatar {
    margin: auto 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $primary-blue;
    border-radius: 20px;
    color: $primary;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    color: $gray-text;
  }

  &__boards {
    margin: 10px 0;
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
  }

  &__users {
    margin: 10px 0;
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
  }
}

.arrow-right {
  background-image: url("../../assets/icons/arrow-right.svg");
}

.closed {
  width: 35px;
}
