.form-outline {
  margin-left: auto;
  align-self: center;
  width: 300px;
  display: flex;

  input {
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: azure;
    padding: 0;
  }
}