@import "../../styles/palette.scss";

.search-form {
  @media screen and (min-width: 600px) {
    width: 300px;
  }

  &__input {
    background-color: $light-blue;

    &:hover {
      background-color: $light-gray;
    }
  }
}
