@import '../../styles/palette.scss';

.search-form {
  width: 300px;

  &__input.form-control {
    background-color: transparent;
    

    &:hover {
      background-color: $light-gray;
      border-color: #62ad9b;
    }
    &:focus-visible {
      border-color: #62ad9b;
    }

  }
  @media screen and (max-width: 740px) {
    width: 52%;
    margin-left: 6px;
    margin-right: 6px;
  }

}
