@import "../../styles/palette.scss";

.search-form {
  width: 0px;
  border-radius: 7px;
  position: relative;
  transition: all 0.6s ease;

  &__input.form-control {
    background: transparent;
    width: 0;
    transition: all 0.2s 0.3s ease;
    border-color: $blue-btn;
    border: 0;
    padding: 0;
  }

  .search__btn {
    border: 0;
    background-color: inherit;
    position: absolute;
    right: 5px;
    top: 6px;

    &:hover {
      color: grey;
    }
  }
}

.search-form.active {
  width: 300px;

  @media screen and (max-width: 570px) {
    width: 80%;
  }
  .search-form__input.form-control {
    padding: 0.375rem 0.75rem;
    padding-right: 30px;
    width: 98%;
    padding-left: 10px;
    border: 0.5px solid $blue-btn;

    &:hover.form-control {
      background-color: $light-gray;
      border-color: $blue-btn;
    }
    &:focus-visible {
      border-color: $blue-btn;
    }
  }
}
