$primary: #ffffff;
$primary-blue: #026aa7;
$blue: #0079bf; //голубой текст в каленрдаре и текст фильтра при нажатии на доске
$dark: #000000;
$dark-blue: rgba(0, 0, 0, 0.3); //кнопка создать
$header-btn-hovered: rgba(255, 255, 255, 0.3);
$input-hovered: rgba(255, 255, 255, 0.4); //цвет инпута при ховере
$light-white: rgba(
  255,
  255,
  255,
  0.2
); //кнопка создать(актив и ховер), выбранные кнопки навигации, инпут в обычном состоянии
$light-gray: #fafbfc; //бэкраунд менюшки
$light-blue: #e4f0f6; //используется на доске(фильтр при нажатии и пункты сортировки при ховере)
$hovered-gray: hsla(0, 0%, 0%, 0.08); //ховер на лишке меню
$active-gray: hsla(0, 0%, 0%, 0.16);
$border-gray: #dfe1e6;
$dark-text: #172b4d; //тёмно-синий текст(менюшка)
$gray-text: #5e6c84; //серый текст(таблица, календарь)
$disabled-text: #a5adba;

$welcome-bg: rgb(226,239,255); // бекграунд приветственной страницы
$welcome-bg-gradient: linear-gradient(0deg, rgba(226,239,255,1) 2%, rgba(252,253,255,1) 74%); // ее градиентик