$primary: #ffffff;
$primary-blue: #026aa7;
$blue: #0079bf; //голубой текст в каленрдаре и текст фильтра при нажатии на доске
$dark: #000000;
$dark-blue: rgba(0, 0, 0, 0.3); //кнопка создать
$header-btn-hovered: rgba(255, 255, 255, 0.3);
$input-hovered: rgba(255, 255, 255, 0.4); //цвет инпута при ховере
$light-white: rgba(
  255,
  255,
  255,
  0.2
); //кнопка создать(актив и ховер), выбранные кнопки навигации, инпут в обычном состоянии
$light-gray: #fafbfc; //бэкраунд менюшки
$light-blue: #e4f0f6; //используется на доске(фильтр при нажатии и пункты сортировки при ховере)
$hovered-gray: hsla(0, 0%, 0%, 0.08); //ховер на лишке меню
$active-gray: hsla(0, 0%, 0%, 0.204);
$border-gray: #dfe1e6;
$dark-text: #000000; //цвет текта
$gray-text: #5e6c84; //серый текст(таблица, календарь)
$disabled-text: #a5adba;

$blue-btn: #62ad9b;
$transparent-blue: #62ad9ba9;
$welcome-bg: rgb(226, 239, 255); // бекграунд приветственной страницы
$welcome-bg-gradient: linear-gradient(
  0deg,
  rgba(255, 255, 255, 1) 85%,
  rgba(98, 173, 155, 1) 110%
); // ее градиентик
$error-gradient: linear-gradient(0deg, #62ad9b -20%, white 30%);
