@import "../../styles/palette.scss";

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 85%;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  padding: 1rem;
}

.tasks {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
  list-style: none;
  margin: 0;

  &__item:last-child {
    margin-bottom: 5%;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: $active-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $border-gray;
    border: 1px solid $active-gray;
  }
}

.input-close {
  border: 1px solid $active-gray;
  border-radius: 5px;
  background-color: transparent;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
}

.board__item .list__btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.icons {
  display: flex;
  right: 0.5%;
  top: 5%;
  color: black;
  position: absolute;

  &__btn {
    border: 0;
    background-color: inherit;
    padding-left: 2%;

    .icon {
      color: dark;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: $dark-blue;
      }
      &:active {
        color: rgba($dark-blue, 0.5);
      }
    }
  }
}
