@import '../../styles/palette.scss';

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  padding: 1rem;
}

.tasks {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
  list-style: none;
  margin: 0;
}

.task-item {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  background-color: #fff;
  padding: 0.7rem 0.6rem;
  color: #4d4d4d;
  border: 0.1rem solid #ccc;
  border-bottom: 0.2rem solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
  cursor: pointer;
  list-style: none;

  &__input {
    position: absolute;
    left: 5px;
    margin-right: 5px;
  }

  &__btn {
    float: right;

    &:hover {
      background-color: $active-gray;
    }
  }

  &:hover {
    background-color: $hovered-gray;
  }

  &:active {
    background-color: $active-gray;
  }
}

.task-input.form-control {
  margin-right: 5px;

  &.valid {
    border: 1px solid green;
  }

  &.invalid {
    border: 1px solid red;
  }
}

.input-close {
  border: 1px solid $active-gray;
  border-radius: 5px;
  background-color: transparent;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 10px;
}

.board__item .list__btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.icons {
  display: flex;
  right: 0.5%;
  top: 5%;
  color: black;
  position: absolute;

  &__btn {
    border: 0;
    background-color: inherit;
    padding-left: 2%;

    .icon {
      color: dark;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: $dark-blue;
      }
      &:active {
        color: rgba($dark-blue, 0.5);
      }
    }
  }
}
