@import "../../styles/palette.scss";

.registration {
  text-align: center;
  padding-top: 50px;
  height: 100vh;
  background: linear-gradient(0deg, #62ad9b -20%, white 30%);;

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__form {
    position: relative;
    max-width: 500px;
    text-align: left;
    border: 2px solid $light-blue;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
  }

  &__link {
    text-decoration: none;
  }

  &__btn.btn {
    color: $primary;
    background-color: #62ad9b;
    margin-bottom: 10px;

    &:hover {
      background-color: #4b9180;
    }
  }

  &__option {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #62ad9b;
    padding: 0;
    margin-left: 5px;
  }

  &__input.form-control:focus {
    border-color: $primary-blue;
  }

  &__valid {
    position: absolute;
    background-color: rgba(255, 100, 100, 0.85);
    padding: 2px 10px;
    color: white;
    border-radius: 3px;
    right: 20px;
  }
}
