@import "../../styles/palette.scss";

.header {
  width: 100%;
  padding: 6px 12px;
  background: $border-gray;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid grey;

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__title {
    font-size: 2rem;
    margin: 0;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.1rem;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
  }

  &__img {
    width: 48px;
    height: 48px;
  }
}
