@import '../../styles/palette.scss';

.footer {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  background: $primary-blue;
  font-size: 1.5rem;

  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 90%;
  }

  &__left-img {
    width: 50px;
    transition: 0.4s;
    &:hover {
      transform: translateY(-10px);
    }
  }

  &__right-container {
    background-size: 90px 60px;
    background-repeat: no-repeat;
  }

  &__right-img {
    width: 140px;
  }
}