@import '../../styles/palette.scss';

.footer {
  margin: 0 auto;
  padding: 6px 12px;
  width: 100%;
  background: $border-gray;
  font-size: 1.5rem;
  border-top: 0.5px solid grey;

  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 90%;
  }

  &__left-img {
    width: 50px;
    transition: 0.4s;
    @media screen and (max-width: 600px) {
      width: 40px;
    }
    &:hover {
      transform: translateY(-10px);
    }
  }

  &__central-container {
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }

  &__right-container {
    background-size: 90px 60px;
    background-repeat: no-repeat;
  }

  &__right-img {
    width: 140px;
    @media screen and (max-width: 600px) {
      width: 70px;
    }
  }
}