@import "../../styles/palette.scss";

.board-color {
  width: 100px;
}

.save-btn.btn {
  border: 1px solid $primary-blue;
  background-color: $light-gray;

  &:hover {
    background-color: $primary-blue;
  }
}
